.search-input {
  font-size: 2rem;
  height: 3.5rem;
  font-weight: 700;
  color: #666;
  background: transparent;
  border: none;
  border-bottom: 3px solid #dc3545;
  caret-color: #dc3545;
  transition-duration: 0.3s;
}
.search-input:focus {
  border-bottom: 3px solid #dc3545;
  outline: none;
  color: #dc3545;
}