* {
  -webkit-appearance: none;
}
body {
  background: #121212 !important;
  overflow-x: hidden;
}

.figure-img {
  object-fit: cover;
}

figure .lead {
  display: -webkit-box;
  line-height: 1.5em;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}
.fade.modal.show {
  padding: 0 !important;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ee;
  z-index: 100;
  margin: 0;
  padding: 0;
}

.loading-spinner {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 101;
}

.user-nav-img {
  width: 30px;
  height: 30px !important;
}
#navbar {
  height: 100px;
}
.navbar-brand {
  height: 100%;
}
.navbar-brand img {
  margin: 0.375rem 0;
  height: 75%;
}

@media screen and (max-width: 768px) {
  .display-img {
    height: 230px !important;
  }
}

@media screen and (min-width: 768px) {
  .display-img {
    height: 230px !important;
  }
}

@media screen and (min-width: 1024px) {
  .display-img {
    height: 300px !important;
  }
}

@media screen and (min-width: 1365px) {
  .display-img {
    height: 360px !important;
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-down {
  animation: fadeDown ease-in-out 1s both;
  /* animation-iteration-count: infinite; */
}

@keyframes fadeUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title-object:nth-of-type(2n + 2) {
  z-index: 0;
  animation: fadeDown ease-in-out 1s both;
}

.title-object:nth-of-type(2n + 1) {
  z-index: 0;
  animation: fadeUp ease-in-out 1s both;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideInRight ease-in-out 1s both;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn ease-in-out 1s 0.7s both;
}

@keyframes rocketLanding {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  33% {
    opacity: 0.2;
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
}
.rocket-landing {
  position: absolute;
  top: 0;
  left: 37%;
  animation: rocketLanding ease-out 1.5s 1s both;
}

@keyframes rocketLanded {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rocket-landed {
  position: absolute;
  top: 0;
  left: 37.2%;
  animation: rocketLanded 0.3s 2.2s both;
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #8a2727;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #631c1c;
  }
}

.logoutBtn img {
  transition-duration: 0.2s;
}
.logoutBtn:hover img {
  filter: brightness(10);
}
@media screen and (max-width: 768px) {
  .navbar-collapse {
    z-index: 1000;
    background: #121212;
    height: 115%;
    padding-bottom: 5%;
  }
}

.auth-input {
  height: 3.5rem;
  font-weight: 700;
  color: #666;
  background: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  caret-color: #dc3545;
  transition-duration: .3s;
  padding-bottom: 4px;
  max-width: 100%;
}
.auth-login-input {
  font-size: 3rem;
  width: 100%; 
}
.auth-signup-input {
  font-size: 2rem;
}
.auth-input:focus {
  border-bottom: 3px solid #dc3545;
  outline: none;
  color: #dc3545;
}
.auth-input::placeholder {
  color: #dddddd;
  transition-duration: 0.3s;
}
.auth-input:focus::placeholder {
  color: #333;
}

#login-email {
  width: 9rem;
  margin-top: 1.5em;
  height: 4rem;
}

#login-email:focus {
  width: 100%;
}
#login-password {
  width: 15rem;
  
}
#login-password:focus {
  width: 100%;
}
#signup-username {
  width: 14rem;
}
#signup-username:focus {
  width: 100%;
}
#signup-email {
  width: 5rem;
}
#signup-email:focus {
  width: 100%;
}
#signup-password {
  width: 9rem;
}
#signup-password:focus {
  width: 100%;
}
#signup-confirm-password {
  width: 17rem;
}
#signup-confirm-password:focus {
  width: 100%;
}

.modal-header{
  border-color: #dc3545 !important;
  background: #121212 !important;
}

.modal-footer{
  border-color: #dc3545 !important;
  background: #121212 !important;
}

.search-input{
  font-size: 2rem;
  border-color: #dc3545;
}
#login-email-underline{
  width: 0;
  border-bottom: 3px solid #dc3545;
  position: relative;
  top: -3px;
  max-width: 100%;
}
#login-password-underline{
  width: 0;
  border-bottom: 3px solid #dc3545;
  position: relative;
  top: -3px;
  margin-bottom: 0.5em;
  max-width: 100%;
}
#signup-username-underline{
  width: 0;
  border-bottom: 3px solid #dc3545;
  position: relative;
  top: -3px;
  max-width: 100%;
}
#signup-email-underline{
  width: 0;
  border-bottom: 3px solid #dc3545;
  position: relative;
  top: -3px;
  max-width: 100%;
}
#signup-password-underline{
  width: 0;
  border-bottom: 3px solid #dc3545;
  position: relative;
  top: -3px;
  margin-bottom: 0.5em;
  max-width: 100%;
}
#signup-confirm-password-underline{
  width: 0;
  border-bottom: 3px solid #dc3545;
  position: relative;
  top: -3px;
  margin-bottom: 0.5em;
  max-width: 100%;
}
.bkg-black, .modal-content{
  background: #0a0a0a !important;
  color: #fafafa;
}
.close{
  color: #dc3545 !important;
  text-shadow: none !important;
  opacity: 1 !important;
}

.object-button img{
  transition-duration: .2s;
}

.object-button:hover img{
  opacity: .5;
}

.modal input, .modal input:focus, .modal textarea, .modal textarea:focus, .modal select, .modal select:focus, .modal option{
  background: #121212;
  color: #ffffff;
  border-left: none;
  border-right: none;
  border-top: none;
  caret-color: #dc3545;
  border-bottom: 2px inset #dc3545;
  font-size: 1.1rem;
}
.modal-content{
  box-shadow: 0 0 20px 1px #dc3546a2 !important;
  border: none !important;
}
.btn:focus{
  box-shadow: none !important;
}

@keyframes blastoff {
  0% {
    opacity: 0;
  }
  15%{
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    transform: translateY(-200%);
  }
}
.rocket-blastoff {
  position: absolute;
  top: 0;
  left: 37%;
  animation: blastoff ease-out 1.5s both;
}
@keyframes landedRev {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.rocket-landed-reverse {
  position: absolute;
  top: 0;
  left: 37.2%;
  animation: landedRev 0.3s .05s both ;
}

.cover{
  object-fit: cover;
}

